Repository 0xwaya/ceo-agent-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-python3-commands, enforce-markdown-rules, staged-flake8

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: enforce-python3-commands
        name: enforce python3 commands
        entry: python3 tools/check_python3_commands.py
        language: system
        files: \.(md|sh|ya?ml|txt)$

      - id: enforce-markdown-rules
        name: enforce markdown rules
        entry: python3 tools/check_markdown_rules.py
        language: system
        files: \.md$

      - id: staged-flake8
        name: staged flake8
        entry: python3 tools/staged_flake8.py
        language: system
        files: \.py$

      - id: staged-secrets-scan
        name: staged secrets scan
        entry: python3 tools/check_staged_secrets.py
        language: system
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict

  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        args: ["--line-length=100"]

docs: finalize cleanup and archive reorganization
  .github/BRANCH_PROTECTION_RECOMMENDATIONS.md
  .github/pull_request_template.md
  docs/AI_AGENT_VOICE_RESEARCH.md
  docs/CEO_AGENT_README.md
  docs/CEO_CFO_QUICK_REFERENCE.md
  docs/DOCS_KEEP_ARCHIVE_MANIFEST.md
  docs/GOOGLE_ADK_EVALUATION.md
  docs/GRAPH_DASHBOARD_QUICK_START.md
  docs/GRAPH_UI_IMPLEMENTATION.md
  docs/IMPROVEMENT_PLAN.md
  docs/README.md
  docs/REAL_WORLD_EXECUTION_ROADMAP.md
  docs/REORGANIZATION_SUMMARY.md
  docs/SECURITY_AUDIT_2026.md
  docs/SECURITY_PATCH_FEB_2026.md
  docs/VOICE_FREE_TIER_SETUP.md
  docs/VOICE_INTEGRATION_ROADMAP.md
  docs/VOICE_SETUP_GUIDE.md
  docs/archive/CEO_AGENT_REBRAND_SUMMARY.md
  docs/archive/CEO_CFO_UPGRADE_SUMMARY.md
  docs/archive/CODE_REVIEW_COMPLETE.md
  docs/archive/CODE_REVIEW_SENIOR_CONSULTANT.md
  docs/archive/DASHBOARD_FIXES.md
  docs/archive/PYTHON_VERSION_STANDARDIZATION.md
  docs/archive/TEST_RESULTS.md
  docs/archive/UI_FIXES_SUMMARY.md
  docs/archive/UX_UI_IMPROVEMENTS.md
  graph_architecture/IMPLEMENTATION_GUIDE.md
  graph_architecture/README.md
  graph_architecture/SUMMARY.md
  tests/README.md
  tools/check_staged_secrets.py
Due: enforce-python3-commands, enforce-markdown-rules, staged-flake8

feat: add codex tooling and social media specialist agent
  ENCRYPTED_ENV_TUTORIAL.md
  agents/specialized_agents.py
  config.py
  services/agent_service.py
  tools/encrypted_env_demo.py
  utils/constants.py
  utils/openai_codex_tooling.py
Due: enforce-python3-commands, enforce-markdown-rules, staged-flake8

chore: harden codex/env defaults and agent platform guardrails
  ENCRYPTED_ENV_TUTORIAL.md
  agents/agent_guard_rails.py
  agents/agent_knowledge_base.py
  agents/specialized_agents.py
  config.py
  services/agent_service.py
  tools/check_staged_secrets.py
  tools/encrypted_env_demo.py
  tools/perf_agents_smoke.py
  utils/constants.py
  utils/openai_codex_tooling.py
Due: enforce-python3-commands, enforce-markdown-rules, staged-flake8

feat: add agent deliverables workspace and checkpoint-capacity fallback
  agents/agent_guard_rails.py
  agents/specialized_agents.py
  app.py
  graph_architecture/main_graph.py
  graph_architecture/subgraphs/researcher_subgraph.py
  services/agent_service.py
  static/css/admin.css
  static/js/admin.js
  templates/admin_dashboard.html
  utils/openai_codex_tooling.py
Due: staged-flake8

Add real artifact pipeline, dashboard previews, and updated CEO execution reporting
  ARCHITECTURE.md
  QUICK_START.md
  README.md
  app.py
  docs/ARTIFACT_WORKFLOW.md
  docs/CEO_AGENT_README.md
  docs/IMPROVEMENT_PLAN.md
  docs/README.md
  docs/REAL_WORLD_EXECUTION_ROADMAP.md
  services/artifact_service.py
  static/css/admin.css
  static/generated_outputs/.gitkeep
  static/js/admin.js
Due: enforce-python3-commands, enforce-markdown-rules, staged-flake8

Hardcode python3 usage in scripts and strengthen python3 command enforcement
  Makefile
  start_ceo_agent.sh
  tools/check_python3_commands.py
  tools/start_web.sh
Due: enforce-python3-commands, staged-flake8

Fix branding avatar initials to use brand monogram instead of proposal-title initials
  services/artifact_service.py
Due: staged-flake8

docs(security): add refreshed security audit report and docs index entry
  docs/README.md
  docs/SECURITY_AUDIT_2026_02_17.md
Due: enforce-python3-commands, enforce-markdown-rules

security(git): ignore generated runtime artifacts from static outputs
  .gitignore
Due: none

docs(reorg): move root markdown docs into docs and fix references
  README.md
  docs/ARCHITECTURE.md
  docs/CONTRIBUTING.md
  docs/ENCRYPTED_ENV_TUTORIAL.md
  docs/GITHUB_SETUP.md
  docs/GRAPH_DASHBOARD_QUICK_START.md
  docs/GRAPH_UI_IMPLEMENTATION.md
  docs/QUICK_START.md
  docs/README.md
  docs/SECURITY.md
  docs/SETUP_INSTRUCTIONS.md
  docs/VOICE_SETUP_GUIDE.md
  docs/archive/CODE_REVIEW_COMPLETE.md
  docs/archive/PYTHON_VERSION_STANDARDIZATION.md
  docs/copilot-instructions.md
  graph_architecture/IMPLEMENTATION_GUIDE.md
  tools/enforce_consistency_gate.py
Due: enforce-python3-commands, enforce-markdown-rules, staged-flake8

feat: v0.3 - 3-tier LangGraph architecture, privacy layer, security hardening
  .env.example
  README.md
  agents/agent_guard_rails.py
  agents/ceo_agent.py
  agents/cfo_agent.py
  agents/new_cfo_agent.py
  agents/ohio_legal_agent.py
  agents/specialized_agents.py
  app.py
  config.py
  docs/ARCHITECTURE.md
  docs/CEO_AGENT_README.md
  docs/CEO_CFO_QUICK_REFERENCE.md
  graph_architecture/IMPLEMENTATION_GUIDE.md
  graph_architecture/README.md
  graph_architecture/SUMMARY.md
  graph_architecture/guards.py
  graph_architecture/llm_nodes.py
  graph_architecture/main_graph.py
  graph_architecture/privacy.py
  graph_architecture/prompt_expert.py
  graph_architecture/schemas.py
  graph_architecture/subgraphs/legal_subgraph.py
  graph_architecture/subgraphs/martech_subgraph.py
  graph_architecture/subgraphs/security_subgraph.py
  graph_architecture/tools.py
Due: enforce-python3-commands, enforce-markdown-rules, staged-flake8

fix: add sys.path bootstrap so main_graph.py can run directly with python3
  graph_architecture/main_graph.py
Due: staged-flake8

fix: unify routes, executive UI theme, allowlist false-positives
  README.md
  agents/cto_agent.py
  app.py
  docs/ARCHITECTURE.md
  docs/SECURITY_AUDIT_2026_02_17.md
  docs/UX_REDESIGN_PREVIEW.html
  graph_architecture/README.md
  graph_architecture/llm_nodes.py
  graph_architecture/schemas.py
  requirements.txt
  static/css/style.css
  static/js/app.js
  templates/index.html
  tests/conftest.py
  tests/test_api_endpoints.py
  tests/test_v04_features.py
  tools/smoke_dashboard_render.py
Due: enforce-python3-commands, enforce-markdown-rules, staged-flake8

fix: resolve analyze 400 and CEO Unknown agent type errors
  app.py
  static/js/app.js
Due: staged-flake8

style: black formatting
  app.py
Due: staged-flake8

fix: analyze 400, branding deliverables, CEO guard-rails, social+security agents
  app.py
  static/js/app.js
  templates/index.html
Due: staged-flake8

feat: v0.5 comprehensive agent upgrade - 30/60/90 plans, best practices, full reports
  agents/specialized_agents.py
  agents/ux_ui_agent.py
  app.py
  static/js/app.js
Due: staged-flake8

fix: register ai_chat_response listener in setupSocketListeners() so chat responses arrive
  static/js/app.js
Due: none

feat: branding agent delivers visual brand kit — SVG logos, hex swatches, typography specimens
  agents/specialized_agents.py
  static/js/app.js
Due: staged-flake8

fix: stop 400 spam on scenario/analyze — allowlist additions + frontend guard
  app.py
  static/js/app.js
Due: staged-flake8

chore: save session memory 2026-02-17
  docs/SESSION_MEMORY_2026_02_17.md
Due: enforce-python3-commands, enforce-markdown-rules

feat: security v0.5 hardening + agent upgrades + API roadmap
  agents/agent_guard_rails.py
  agents/specialized_agents.py
  app.py
  docs/REAL_WORLD_EXECUTION_ROADMAP.md
  docs/SECURITY_AUDIT_2026_02_17.md
  graph_architecture/llm_nodes.py
  static/css/style.css
  static/js/app.js
  templates/graph_dashboard.html
  templates/index.html
Due: enforce-python3-commands, enforce-markdown-rules, staged-flake8

feat: v0.5 — artifact pipeline, docs overhaul, repo metadata + profile README
  README.md
  agents/ceo_agent.py
  agents/cfo_agent.py
  app.py
  docs/ARCHITECTURE.md
  docs/GITHUB_PROFILE_README.md
  graph_architecture/llm_nodes.py
  interactive_chat.py
  services/artifact_service.py
  static/js/admin.js
  static/js/app.js
  templates/graph_dashboard.html
  templates/index.html
  tools/smoke_dashboard_render.py
  utils/validators.py
Due: enforce-python3-commands, enforce-markdown-rules, staged-flake8

docs: align validation commands and add audit/security notes
  .gitignore
  AUDIT_REPORT.md
  README.md
  SECURITY_NOTES.md
Due: enforce-python3-commands, enforce-markdown-rules

security: harden gitignore (.env.example exception), pin langgraph deps to 1.0.10
  .gitignore
  requirements.txt
Due: enforce-python3-commands
